[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
django = "*"
channels = "*"
channels-redis = "*"
hiredis = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.9"
