{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <br>
      <h2>Play Sea Battle</h2>
      <br>
    </div>

    <!-- Login Form -->
    <form method="POST">
      {% csrf_token %}
      <input type="text" id="login" class="fadeIn second" name="username" placeholder="Username" required>
      <input type="text" id="room_code" class="fadeIn second" name="room_code" placeholder="Room" required>
      <br><br>
      <input type="submit" class="fadeIn fourth" value="Start Battle">
      <input type="submit" class="fadeIn fourth" value="Continue">
    </form>
      {% if messages %}
        <div class="fadeIn second">

        {% for mes in messages %}
          {{ mes }}
        {% endfor %}
          <br>
      </div>
      {% endif %}


  </div>
</div>

</html>